:root {
    /* Background Styles */
    --page-color-light: white;
    --page-color-dark: #333;
    --background-color-light: white;
    --background-color-dark: #333;

    /* Text Styles */
    --text-color-light: black;
    --text-color-dark: white;
    --header-color-light: black;
    --header-color-dark: white;

    --link-accent-color: red;

    /* Navbar Styles */
    --navbar-color-light: #e7e7e7 /* #cecece */;
    --navbar-color-dark: black; /* #333 */ /* #555555 */
    --navbar-text-light: #5f5f79;
    --navbar-text-dark: rgb(109, 109, 109);
    --navbar-active-light: black;
    --navbar-active-dark: white;
    --navbar-button-light: black;
    --navbar-button-dark: white;

    /* Footer Styles */
    --footer-color-light: #e7e7e7;
    --footer-color-dark: black; /* rgb(39, 39, 39) */;
    --footer-text-light: black;
    --footer-text-dark: white;
    --footer-copyright-light: rgb(190, 190, 190);
    --footer-copyright-dark: rgb(43, 43, 43);
}


*{ margin: 0px; padding: 0px; box-sizing: border-box; }

/* Prevent horizontal scrolling */
html, body { max-width: 100%; overflow-x: hidden; }

/* Set fonts */
body { font-family: 'Poppins', sans-serif; }
button { font-family: 'Poppins', sans-serif; }


/* Main Background Color */
body { background-color: var(--page-color-light) !important; }
    @media (prefers-color-scheme: light) {
        body { background-color: var(--page-color-light) !important; }
    }
    @media (prefers-color-scheme: dark) {
        body { background-color: var(--page-color-dark) !important; }
    }

h1, h2, h3, h4, h5, h6 { color: var(--header-color-light); }
    @media (prefers-color-scheme: light) {
        h1, h2, h3, h4, h5, h6 { color: var(--header-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        h1, h2, h3, h4, h5, h6 { color: var(--header-color-dark); }
    }

p { color: var(--text-color-light); }
    @media (prefers-color-scheme: light) {
        p { color: var(--text-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        p { color: var(--text-color-dark); }
    }


body {
    /* display: flex; */
}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;;
}
.col {
    display: flex;
    flex-direction: column;
}









/*----- MAIN BODY -----*/
main {
    padding-top: 70px; /* was useful for bootstrap */
    margin: auto;
    
    background-color: var(--background-color-light);
    color: var(--text-color-light) 
}
    @media (prefers-color-scheme: dark) {
        main { background-color: var(--background-color-light); color: var(--text-color-light) }
    }
    @media (prefers-color-scheme: dark) {
        main { background-color: var(--background-color-dark); color: var(--text-color-dark) }
    }



.disclaimer {
    width: 90%;
    margin: auto;
}






/*----- HEADER -----*/
/* nothing */









/*----- NAVIGATION BAR -----*/
/* .nav-link {
    font-size: 18px;
    text-decoration: none;
    background: var(--navbar-color-light);
    color: var(--navbar-text-light);  
}
    @media (prefers-color-scheme: light) {
        .nav-link { background: var(--navbar-color-light); color: var(--navbar-text-light) !important; }
    }
    @media (prefers-color-scheme: dark) {
        .nav-link { background: var(--navbar-color-dark); color: var(--navbar-text-dark) !important; }
    }


.navbar-nav > .active > .nav-link { color: var(--navbar-active-light) !important; }
    @media (prefers-color-scheme: light) {
        .navbar-nav > .active > .nav-link { color: var(--navbar-active-light) !important; }
    }
    @media (prefers-color-scheme: dark) {
        .navbar-nav > .active > .nav-link { color: var(--navbar-active-dark) !important; }
    }


.nav-item > a:hover { color: var(--link-accent-color) !important; } */
    

.dropdown.show { visibility: visible; }


/* .navbar { background-color: var(--navbar-color-light); }
@media (prefers-color-scheme: light) {
    .navbar { background-color:var(--navbar-color-light); }
}
@media (prefers-color-scheme: dark) {
    .navbar { background-color: var(--navbar-color-dark); }
} */


/* Navbar Toggler */
.custom-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; /* color: var(--navbar-button-light) !important; */ } /* color of lines */
.custom-toggler.navbar-toggler { border-color: var(--navbar-button-light) !important; } /* color of border */
    @media (prefers-color-scheme: light) {
        .custom-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; /* color: var(--navbar-button-light) !important; */ }
        .custom-toggler.navbar-toggler { border-color: var(--navbar-button-light) !important; }
    }
    @media (prefers-color-scheme: dark) {
        .custom-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; /* color: var(--navbar-button-dark) !important; */ }
        .custom-toggler.navbar-toggler { border-color: var(--navbar-button-dark) !important; }
    }




/*----- MAIN BODY -----*/
.page-title { width: 90%; margin: auto; }
.page-content { width: 90%; margin: auto; }





/*----- FOOTER -----*/
footer { background: var(--footer-color-light); }
    @media (prefers-color-scheme: light) {
        footer { background: var(--footer-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        footer { background: var(--footer-color-dark); }
    }


.footer-container {
    width: 90%;
    margin: auto;
    padding: 40px 0px 10px 0px;
    color: var(--footer-copyright-light);
}
    @media (prefers-color-scheme: light) {
        .footer-container { color: var(--footer-copyright-light); }
    }
    @media (prefers-color-scheme: dark) {
        .footer-container { color: var(--footer-copyright-dark); }
    }



.footer-link {
    text-decoration: none;
    color: black;
}
    @media (prefers-color-scheme: light) {
        .footer-link { color: var(--footer-text-light); }
    }
    @media (prefers-color-scheme: dark) {
        .footer-link { color: var(--footer-text-dark); }
    }


.footer-link:hover { color: var(--link-accent-color); }
