
*{ margin: 0px; padding: 0px; box-sizing: border-box; }

/* Prevent x-axis scrolling */
html, body { max-width: 100%; overflow-x: hidden;}


/* Set fonts */
body { font-family: 'Poppins', sans-serif; }
button { font-family: 'Poppins', sans-serif; }



main {
    max-width: 750px;
    /* width: 100%; */
    margin: auto;
}



.container {
    /* margin-top: 20px; */
    height: 100%;
    min-height: 100vh;
}
@media (prefers-color-scheme: dark) {
    body { background-color: black }
    .container {background-color: rgb(31, 31, 31);;}
}


.head-container {
    margin-bottom: 50px;
    /* background-color: rgb(200, 200, 200); */
    /* border-bottom: 2px solid black; */
}


.page-title {
    text-align: center;
    margin-bottom: 0;
}
    @media (prefers-color-scheme: dark) {
        .page-title { color: rgb(255, 255, 255); }
    }

.page-subtitle {
    text-align: center;
    font-size: 30px;
    color: rgb(100, 100, 100);
}
    @media (prefers-color-scheme: dark) {
        .page-subtitle { color: rgb(200, 200, 200); }
    }

.social-link {
    width: 80%;
    height: 65px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
}
    @media (prefers-color-scheme: dark) {
        .social-link { border: 2px solid white; }
    }
    @media (max-width: 450px) {
        .social-link {
            width: 95vw;
        }
    }
    .social-link:hover {
        transition: 0.3s;
        background-color: rgb(48, 48, 48);
        /* border: 2px solid black; */
        border: 1px solid white;
    }
    .social-link.youtube-link:hover {
        background-color: red;
        /* border: 2px solid rgb(180, 0, 0); */
        border: 1px solid white;
    }
    .social-link.instagram-link:hover {
        background-color: rgb(253, 20, 78);
        /* border: 2px solid rgb(255, 0, 212); */
        border: 1px solid white;
    }
    .social-link.website-link:hover {
        background-color: rgb(33, 0, 110);
        /* border: 2px solid rgb(41, 0, 75); */
        border: 1px solid white;
    }

.social-link > .link-text {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
}
    @media (prefers-color-scheme: dark) {
        .social-link > .link-text { color: white; }
    }
    @media (max-width: 450px) {
        .social-link > .link-text {
            font-size: 18px;
        }
    }
    .social-link:hover > .link-text {
        transition: 0.3s;
        color: white;
    }

.social-link > .link-subtext {
    font-size: 14px;
    color: grey;
}
    @media (prefers-color-scheme: dark) {
        .social-link > .link-subtext { color: rgb(190, 190, 190); }
    }
    .social-link:hover > .link-subtext {
        transition: 0.3s;
        color: white;
    }



.social-link.inactive {
    /* background-color: rgb(220, 220, 220); */
    border: 2px solid rgb(173, 173, 173);
}
    .social-link.inactive > .link-text {
        color: rgb(173, 173, 173);
    }
    .social-link.inactive:hover {
        background-color: transparent;
        border: 2px solid rgb(173, 173, 173);
    }

.spacer-20 {
    height: 20px;
}    
.spacer-30 {
    height: 30px;
}

.disclaimer {
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(92, 92, 92);

    margin: 65px 0 15px 0;
}
    @media (prefers-color-scheme: dark) {
        .disclaimer { color: rgb(150, 150, 150); }
    }
    @media (max-width: 450px) {
        .disclaimer {
            font-size: 18px;
        }
    }