*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Set fonts */
body { font-family: 'Poppins', sans-serif; }
button { font-family: 'Poppins', sans-serif; }


/* Header style */
header {
    display: flex;
    
    width: 80%; /* add margins (reduce container width) */
    height: 10vh;

    margin: auto; /* center the container */
    align-items: center;
}

/* Page Title */
.page-title { font-weight: 400; font-size: 24px; width: 95%; margin: auto; color: #000000; background: rgba(0, 0, 0, 0.082); } /* margin: 25px; }*/

/* Styles */
.logo-container, .nav-links { display: flex; }
.logo-container { flex: 1; }
.logo { font-weight: 400; font-size: 40px; margin: 5px; color: #000000; text-decoration: none; }

nav { flex: 2; }
.nav-links { justify-content: space-around; list-style: none; }
.nav-link { color: #5f5f79; font-size: 18px; text-decoration: none; }


/* Footer style */
footer {
    display: flex;
    width: 80%;
    margin: auto;

    background: rgba(0, 0, 0, 0.082);
}