*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Reduce size of main body */
main {
    width: 90%;
    margin: auto;
    /*padding: 50px 0px 0px 0px;*/
}


/* Set fonts */
body { font-family: 'Poppins', sans-serif; }
button { font-family: 'Poppins', sans-serif; }


/* Header */
header {
    /*display: flex;*/
    
    width: 90%; /* add margins (reduce container width) */
    height: 10vh;

    margin: auto; /* center the container */
    align-items: center;

    /* background: rgba(0, 0, 0, 0.082); */
}

/* Page Title */
.page-title {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    
    /*width: 95%;*/
    margin: auto;
    /*background: rgba(0, 0, 0, 0.082);*/
    /*border: 3px solid blue;*/
} /* margin: 25px; }*/



/* Navigation Bar */
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}
.navbar-nav > .active > .nav-link {
    color: black !important; /* override Bootstrap theme */
    font-weight: 500;
}
.nav-item > a:hover {
    color: rgb(255, 0, 0) !important; /* override Bootstrap theme */
}
.dropdown.show { visibility: visible; }
/* .navbar-nav > .navbar-toggler {
    color: #555;
    background-color: #e7e7e7 !important;
} */


/* Footer */
footer {
    width: 90%;
    margin: auto;

    background: rgba(0, 0, 0, 0.082);
}

/*
@media screen and (max-width: 601px) {
    .logo {
        font-size:10px;
    }
}
*/

/*
.logo-container, .col-md-9, .col-md-3 {
    border: 3px solid black;
}
*/
