:root {
    /* Background Styles */
    --page-color-light: white;
    --page-color-dark: #333;
    --background-color-light: white;
    --background-color-dark: #333;

    /* Text Styles */
    --text-color-light: black;
    --text-color-dark: white;
    --header-color-light: black;
    --header-color-dark: white;

    --link-accent-color: red;

    /* Navbar Styles */
    --navbar-color-light: #e7e7e7 /* #cecece */;
    --navbar-color-dark: black; /* #333 */ /* #555555 */
    --navbar-text-light: #5f5f79;
    --navbar-text-dark: rgb(109, 109, 109);
    --navbar-active-light: black;
    --navbar-active-dark: white;
    --navbar-button-light: black;
    --navbar-button-dark: white;

    /* Footer Styles */
    --footer-color-light: #e7e7e7;
    --footer-color-dark: black; /* rgb(39, 39, 39) */;
    --footer-text-light: black;
    --footer-text-dark: white;
    --footer-copyright-light: rgb(190, 190, 190);
    --footer-copyright-dark: rgb(43, 43, 43);
}


*{ margin: 0px; padding: 0px; box-sizing: border-box; }

/* Prevent horizontal scrolling */
html, body { max-width: 100%; overflow-x: hidden; }

/* Set fonts */
body { font-family: 'Poppins', sans-serif; }
button { font-family: 'Poppins', sans-serif; }


/* Main Background Color */
body { background-color: var(--page-color-light) !important; }
    @media (prefers-color-scheme: light) {
        body { background-color: var(--page-color-light) !important; }
    }
    @media (prefers-color-scheme: dark) {
        body { background-color: var(--page-color-dark) !important; }
    }

h1, h2, h3, h4, h5, h6 { color: var(--header-color-light); }
    @media (prefers-color-scheme: light) {
        h1, h2, h3, h4, h5, h6 { color: var(--header-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        h1, h2, h3, h4, h5, h6 { color: var(--header-color-dark); }
    }

p { color: var(--text-color-light); }
    @media (prefers-color-scheme: light) {
        p { color: var(--text-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        p { color: var(--text-color-dark); }
    }



main {
    margin: auto;
    
    background-color: var(--background-color-light);
    color: var(--text-color-light) 
}
    @media (prefers-color-scheme: dark) {
        main { background-color: var(--background-color-light); color: var(--text-color-light) }
    }
    @media (prefers-color-scheme: dark) {
        main { background-color: var(--background-color-dark); color: var(--text-color-dark) }
    }

.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;;
}
.col {
    display: flex;
    flex-direction: column;
}



/* header */
header {
    margin-top: 25px;
    margin-bottom: 100px;
}


.page-title {
    text-align: center;
}
    .page-title, .page-title > * {
        font-size: 50px;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }

.page-subtitle {
    text-align: center;
}
    .page-subtitle, .page-subtitle > * {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: grey;
    }



/* Footer */
footer {
    margin-top: 100px;
    margin-bottom: 15px;
    
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin: auto;

    margin-bottom: 20px;
}
    .footer-icon {
        width: 30px;
        height: 30px;
        margin: 0 20px;
        /* border: 1px solid green; */

        position: relative;
    }
    .footer-icon > img {
        display: none;

        width: 28px;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .footer-icon > .active {
        display: block;
    }


.footer-copyright {
    color: var(--text-color-light);
    text-align: center;
}
    @media (prefers-color-scheme: light) {
        .footer-copyright { color: var(--text-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        .footer-copyright { color: var(--text-color-dark); }
    }
