body {
    background: url("/resources/images/IMG_0053.JPG");
    background-position: 50% 20%;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}



main {
    width: 95%;
    margin: auto;
    height: 200vh;
    background-color: transparent;
}

.spacer {
    height: 6vw;
}

#intro-message {
    margin-top: 3vw;
    font-size: 48px;
    font-weight: 500;
    min-height: 80px;
    text-align: center;
}

#introduction {
    /* height: 1000px; */
}


.items-row {
    width: 100%;
    justify-content: center;
}
.item {
    border-radius: 5px; 
    min-height: 100px;
    max-width: 500px;
    width: 45vw;
    margin: 10px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    /* background-color: rgba(250, 124, 85, 0.3); */
    /* background-color: rgba(226, 19, 46, 0.425); */

    text-decoration: none;
    display: none;
    position: relative;
    align-items: center;
}
    .item:hover {
        /* box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); */
        transition: 0.1s;
        border: 3px solid white;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .item-text {
        width: 100%;
        text-align: center;
        color: black;

        font-size: 35px;

        /* border: 1px solid green; */
    }

    @media (max-width: 749px) {
        .items-row {
            flex-direction: column;
            align-items: center;
        }
        .item {
            width: 90vw;
        }
    }

.item.active {
    display: flex;
}
/*.item.active {
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} */

/* @keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.02);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  } */



.div-line {
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid black;
}





.cv {
    width: 95%;
    margin: auto;
}

.cv-download {
    text-decoration: none;
    color: var(--text-color-light);
}
    @media (prefers-color-scheme: light) {
        .cv-download { color: var(--text-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        .cv-download { color: var(--text-color-dark); }
    }

.cv-download:hover {
    color: var(--link-accent-color) !important;
}

.cv-version { font-size: 10px; }

