main {
    width: 95%;
    margin: auto;
}

#intro-message {
    margin-top: 3vw;
    font-size: 48px;
    font-weight: 500;
    min-height: 80px;
    text-align: center;
}

#introduction {
    height: 1000px;
}

.cv {
    width: 95%;
    margin: auto;
}

.cv-download {
    text-decoration: none;
    color: var(--text-color-light);
}
    @media (prefers-color-scheme: light) {
        .cv-download { color: var(--text-color-light); }
    }
    @media (prefers-color-scheme: dark) {
        .cv-download { color: var(--text-color-dark); }
    }

.cv-download:hover {
    color: var(--link-accent-color) !important;
}

.cv-version { font-size: 10px; }

