

.container {
    display: flex;
    flex-direction: row;
}
    @media (max-width: 749px) {
        .container {
            flex-direction: column;
        }
        .content-col {
            width: 100%;
        }
    }
    .content-col {
        position: relative;

        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */

    }
    @media (min-width: 750px) {
        .content-col {
            width: 50%;
        }
    }


.content-container {
    width: 100%;
    position: relative;
    /* margin-bottom: 40px; */
    margin-bottom: 5vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .content-col.col-left > .content-container {
    justify-content: flex-end;
    margin-bottom: 0px;
}
.content-col.col-right > .content-container {
    justify-content: flex-start;
    margin-bottom: 0px;
} */


.image-container {
    /* width: 75vw; */
    /* height: 30vw; */
    position: relative;
    overflow: hidden;

    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.image-container.w1-h1 {
    width: 45vw;
    height: 45vw;
}
.image-container.w3-h2 {
    width: 45vw;
    height: 30vw;
}
    @media (max-width: 749px) {
        .image-container.w3-h2 {
            width: 90vw;
            height: 60vw;
        }
    }
.image-container.w2-h3 {
    width: 30vw;
    height: 45vw;
}
    @media (max-width: 749px) {
        .image-container.w2-h3 {
            width: 90vw;
            height: 135vw;
        }
    }
.image-container.w4-h3 {
    width: 45vw;
    height: 33.75vw;
}
    @media (max-width: 749px) {
        .image-container.w4-h3 {
            width: 90vw;
            height: 67.5vw;
        }
    }
.image-container.w3-h4 {
    width: 33.75vw;
    height: 45vw;
}
    @media (max-width: 749px) {
        .image-container.w3-h4 {
            width: 90vw;
            height: 120vw;
        }
    }
.image-container.w16-h9 {
    width: 45vw;
    height: 25.3125vw;
}
    @media (max-width: 749px) {
        .image-container.w16-h9 {
            width: 90vw;
            height: 50.625vw;
        }
    }
.image-container.w9-h16 {
    width: 25.3125vw;
    height: 45vw;
}
    @media (max-width: 749px) {
        .image-container.w9-h16 {
            width: 90vw;
            height: 160vw;
        }
    }

.image-container.wide {
    width: 45vw;
    /*  */
}

    .image-container > img {
        position: absolute;
        height: 100%;

        /* min-width: 45vw; */
        /* min-height: 30vw; */
    }

    .image-container > .image-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: transparent;
    }

.info-overlay {
    /* border: 1px solid red; */
    position: absolute;
    top: 0; right: -35%;
    width: 35%;
    height: 120%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
    @media (prefers-color-scheme: light) {
        .info-overlay { background-color: rgba(255, 255, 255, 0.9); }
    }
    @media (prefers-color-scheme: dark) {
        .info-overlay { background-color: rgba(30, 30, 30, 0.9); }
    }
    
    .info-header {
        width: 90%;
        margin: 20px 5% 0 5%;
        
        text-align: left;
        font-size: 22px;
        font-weight: 600;
    }
        @media (max-width: 750px) {
            .info-header {
                font-size: 18px;
            }
        }

    .info-date {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    .info-camera {
        height: 30px;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin: 5px 5% 0 5%;
    }

    .info-settings {
        list-style: none;
        width: 90%;
        margin: 3vw 5% 0 5%;
    }
        @media (max-width: 374px) {
            .info-settings { display: none; }
        }
        .info-settings > li {
        height: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;   
        /* border: 1px solid green; */
    }
        @media (max-width: 1000px) {
            .info-settings > li { height: 20px; }
        }

        .setting-icon-container {
            height: 100%;
            margin: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
            .info-icon {
                width: 20px;
            }
                @media (max-width: 1000px) {
                    .info-icon { width: 15px; }
                }
        .val {
            flex: 2;
            padding: 1px 0 0 0;
            margin-left: 10px;
            font-size: 16px;
        }
            @media (max-width: 1000px) {
                .val { font-size: 12px; }
            }

/* remove big gap between icon and val
and check responsiveness with hiding icons and vals below set size 
and add dark mode icons */

.info-overlay.active {
    transition: 0.3s;
    transform: translateX(-95%);
}
