

.album-row {
    width: 95%; /* Page width */
    margin: auto;

    display: flex;
    flex-direction: row;
    /* border: 2px solid pink; */
}
    @media (max-width: 750px) {
        .album-row {
            /* display: flex; */
            flex-direction: column;
        }
    }
.album-container {
    /* Center container and adjust width */
    width: 45vw;
    /* min-width: 300px; */
    max-width: 800px;
    max-height: 600px;

    margin: auto;
    margin-bottom: 30px;

    position: relative;

    /* border: 1px solid black; */
}
    @media (max-width: 750px) {
        .album-container{
            width: 95vw;
            height: 75vw;
        }
        .image-container {
            height: 75vw !important;
        }
    }

    .album-container:hover {
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    }
        @media (prefers-color-scheme: light) {
            .album-container:hover {
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
            }
        }
        @media (prefers-color-scheme: dark) {
            .album-container:hover {
                box-shadow: 2px 2px 5px 1px rgba(20, 20, 20, 0.7);
            }
        }

.image-container {
    /* width: 45vw; */
    width: 100%;
    height: 30vw;
    position: relative; /* position relative for 100% in children containers) */
    /* border: 1px solid green; */

    overflow: hidden;
}
    .image-container > img {
        position: absolute;

        /* Set image size */
        /* width: 100%; */
        height: 100%; /* height will fill so will overflow in width; bug for small sizes */
        min-width: 45vw;
        min-height: 30vw;
        
        /* Center anchor point */
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        
        /* border: 1px solid red; */
    }
    .image-container > .image-overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        color: transparent;
        text-decoration: none;
        background-color: transparent;
        z-index: 1;
        text-align: center;

    }
        @media (max-width: 750px) {
            .image-container > .image-overlay {
                height: 75vw !important;
            }
        }
    
        .overlay-text {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 50%;
        }

    .image-container > .image-overlay.active {
        transition: 0.3s;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
    }

.album-text {
    text-decoration: none;
    margin-left: 10px;
}




.banner {
    height: 70px;
    /* background-color: blue; */
    /* border: 1px solid red; */

    margin-top: 10px;
    margin-bottom: 10px;
}
    .banner-text {
        width: 90%;
        margin: auto;
    }