
main {
    width: 95%;
    margin: auto;
}

.album-row {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.album-container {
    margin: 5px;

    max-width: 450px;
    max-height: 450px;
    width: 450px;
    height: 450px;
    position: relative;

    margin: auto;
    margin-bottom: 50px;
}
    @media (max-width: 750px) {
        .album-container{
            width: 95vw;
            height: 95vw;
            margin-bottom: 6vw;
        }
    }

    .album-container:hover {
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    }
        @media (prefers-color-scheme: light) {
            .album-container:hover {
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
            }
        }
        @media (prefers-color-scheme: dark) {
            .album-container:hover {
                box-shadow: 2px 2px 5px 1px rgba(20, 20, 20, 0.7);
            }
        }

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
    .image-container > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    .image-container > .image-overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        color: transparent;
        text-decoration: none;
        background-color: transparent;
        z-index: 1;
        text-align: center;
    }
        .overlay-text {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 45%;
        }
        .overlay-text > * {
            color: transparent;
        }

    .image-container > .image-overlay.active {
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .image-container > .image-overlay.active > .overlay-text > * {
        transition: 0.3s;
        color: black;
    }

.album-text {
    position: absolute;
    bottom: 0; left: 0px;
    width: 100%;
    height: 10%;

    background-color: rgba(255, 255, 255, 0.8);

    display: none;

    text-decoration: none;
    width: 100%;
}
    .album-text > .header {
        margin-top: 1vw;
        position: absolute;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 750px) {
        .album-text {
            display: block;
        }
    }
    @media (max-width: 350px) {
        .album-text > .header {
            font-size: 16px;
        }
    }

