:root {
    /* Text Styles */
    --text-color-light: black;
    --text-color-dark: white;

    --card-background-light: white;
    --card-background-dark: rgb(29, 29, 29) /* rgb(92, 92, 92) */;
    --card-border-light: rgb(179, 179, 179);
    --card-border-dark: rgb(100, 100, 100) /* white */;
    --card-shadow-light: rgba(33, 33, 33, .3);
    --card-shadow-dark: rgba(255, 255, 255, .4) /* rgba(255, 255, 255, .7) */;
    /* --card-header-light: #e7e7e7; */ /* --navbar-color-light */
    /* --card-header-dark: black; */ /* --navbar-color-dark */
}

main {
    padding-top: 6rem;
}

.project-container {
    padding: 1vh 0vh 1vh 0vh;
    width: 90%;
    margin: auto;
}
    .project-box {
        padding: 0vh 1vh 1vh 1vh;
        border-radius: 4px; /* rounded edges */

        background-color: rgb(245, 245, 245);
        border: 1px solid grey;
    }
    .project-link {
        /* color: #000000; */
        font-size: 18px;
        text-decoration: none;
    }

            .project-title {
                font-size: 24px;
                color: rgb(0, 0, 0);
            }
            .project-title:hover {
                color: rgb(82, 82, 82) !important;
            }
            .project-date {
                font-size: 13px;
                color: grey;
            }
        
        .project-description {
            font-size: 18px;
            padding: 1vh 0vh 1vh 0vh;
            
            color: rgb(0, 0, 0);
            /* background-color: rgb(255, 255, 255); */
        }

        .project-footer {
            font-size: 12pt;
            color: grey;
        }

.img-thumbnail {
    max-width: 10px;
    width: 5vh;
    height:auto;
}



.projects-container {
    width: 90%;
    margin: auto;
}

    .card > a {
        text-decoration: none;
        color: black;
    }
    /* .card > a:hover {
        color: red !important;
    } */

    .card > .card-header {
        text-align: center;
        font-weight: bold;

        /* background-color: var(--card-header-light); */
        background: transparent;
    }
        @media (prefers-color-scheme: light) {
            .card > .card-header { background: transparent; /*background-color: var(--card-header-light);*/ }
        }
        @media (prefers-color-scheme: dark) {
            .card > .card-header { background: transparent; /*background-color: var(--card-header-dark);*/ }
        }
    
    .card {
        margin: 10px;
        
        background-color: var(--card-background-light) !important;
        border: 1px solid var(--card-border-light) !important;      
    }
        @media (prefers-color-scheme: light) {
            .card { background-color: var(--card-background-light) !important; border: 1px solid var(--card-border-light) !important; }
        }
        @media (prefers-color-scheme: dark) {
            .card { background-color: var(--card-background-dark) !important; border: 1px solid var(--card-border-dark) !important; }
        }

    .card:hover { box-shadow: 0 0 11px var(--card-shadow-light); }
        @media (prefers-color-scheme: light) {
            .card:hover { box-shadow: 0 0 11px var(--card-shadow-light); }
        }
        @media (prefers-color-scheme: dark) {
            .card:hover { box-shadow: 0 0 11px var(--card-shadow-dark); }
        }
