main {
    padding-top: 6rem;
}

.project-container {
    padding: 1vh 0vh 1vh 0vh;
    width: 90%;
    margin: auto;
}
    .project-box {
        padding: 0vh 1vh 1vh 1vh;
        border-radius: 4px; /* rounded edges */

        background-color: rgb(245, 245, 245);
        border: 1px solid grey;
    }
    .project-link {
        /* color: #000000; */
        font-size: 18px;
        text-decoration: none;
    }

            .project-title {
                font-size: 24px;
                color: rgb(0, 0, 0);
            }
            .project-title:hover {
                color: rgb(82, 82, 82) !important;
            }
            .project-date {
                font-size: 13px;
                color: grey;
            }
        
        .project-description {
            font-size: 18px;
            padding: 1vh 0vh 1vh 0vh;
            
            color: rgb(0, 0, 0);
            /* background-color: rgb(255, 255, 255); */
        }

        .project-footer {
            font-size: 12pt;
            color: grey;
        }

.img-thumbnail {
    max-width: 10px;
    width: 5vh;
    height:auto;
}
